@charset "UTF-8";


/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




/* MOBILE FIRST */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-color: #ffffff;
}


.logo1{
   
}

.login{
    position: absolute;

    background-color: #ffffff;

    padding: 20px;
    padding-top: 30px;

    height: 100vh;
    width: 100%;


    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.login-infos{
    margin-left: 55.1px;
}

.ttl{
    color: #2F2E41;
    font-weight: bolder;

}

.pingo{
    display: none;
}

.prg{
    color: #CCCCCC;
    margin-top: 30px;
    margin-bottom: 30px;

}

.login > .reds > .google{
    align-items: center;

}

.login > .reds > .apple{
    align-items: center;

}

.google{
    display: inline-block;
    background-color: #6B52EA;
    border-radius: 5px;
    padding: 5px;

    margin-bottom: 25px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.281);
}

.apple{
    display: inline-block;
    background-color: #6B52EA;
    border-radius: 5px;

    padding: 5px;
    padding-left: 8px;

    width: 35px;
    align-items: center;


    margin-bottom: 25px;
    margin-left: 7px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.281);

}

.facebook{
    display: inline-block;
    background-color: #6B52EA;
    border-radius: 5px;

    padding: 5px;
    padding-left: 9px;

    width: 35px;

    margin-bottom: 25px;
    margin-left: 5px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.281);

    justify-content: center;
    justify-self: center;
    justify-items: center;

    
}

form > .ilog [type=email]{
    background-color: #F7F7F7;
    padding: 9px;
    width: 60vw;
    border: none;
    border-radius: 5px;

}

form > .ilog [type=email]:hover {
    background-color: #e6e6e6;
}

form > .isen [type=password]{
    background-color: #F7F7F7;
    padding: 9px;
    width: 60vw;
    border: none;
    border-radius: 5px;

}

form > .isen [type=password]:hover {
    background-color: #e6e6e6;
}

form > .enviar > .forgt{
    display: inline-block;
    font-size: 15px;

}
form > .enviar > .forgt > .check > [type=checkbox]{
    padding: 100px;
}


form > .enviar > .forgt > p > a{
    position: absolute;
    display: block;
    font-size: 10px;
    color: #6B52EA;
    text-decoration: underline;

    font-weight: bold;

    top: 510px;
    left: 76px;
}

form > .enviar > .forgt > p > a:hover{
    transition: 1s;
    color: #2c2069;
}

button{
    margin-top: 15px;
    border: none;
    background-color: #4b36b1;
    width: 150px;

    font-weight: bold;

    padding: 15px;
    border-radius: 5px;
    color: white;
}

button:hover{
    transition: 1s;
    background-color: #281d5e;
}

.fazerconta{
    margin-top: 20px;

}